<hr align='left'>

<div align="center" >
	<%= button_to "Go Back", 'javascript:history.go(-1);' %><br>
	<%= button_to "Sign Out", destroy_user_session_path, method: :delete unless current_user.nil? %>
	<%= button_to "Sign In", new_user_session_path, method: :get if current_user.nil? %>
</div>
